Repository haotool/bunny-click: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

# Pre-commit hooks 配置
# 基於 .cursor/rules/ 規範自動執行品質檢查
# 建立時間: 2025-08-26T23:10:06+08:00 [time.now:Asia/Taipei]
# 負責人: haotool

repos:
  # ESLint 程式碼品質檢查
  - repo: local
    hooks:
      - id: eslint
        name: ESLint 程式碼品質檢查
        entry: npm run lint:check
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  # Prettier 程式碼格式化檢查
  - repo: local
    hooks:
      - id: prettier
        name: Prettier 格式化檢查
        entry: npm run format:check
        language: system
        files: \.(js|jsx|ts|tsx|json|md|css|scss)$
        pass_filenames: false

  # Jest 單元測試
  - repo: local
    hooks:
      - id: jest
        name: Jest 單元測試執行
        entry: npm run test:ci
        language: system
        pass_filenames: false
        stages: [commit]

  # 安全性掃描
  - repo: local
    hooks:
      - id: audit
        name: npm 安全性掃描
        entry: npm audit --audit-level=moderate
        language: system
        pass_filenames: false
        stages: [commit]

  # 檔案大小檢查
  - repo: pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000'] # 限制 1MB
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # Git 提交訊息檢查 (Conventional Commits)
  - repo: local
    hooks:
      - id: commitizen
        name: Conventional Commits 格式檢查
        entry: npm run commit:check
        language: system
        stages: [commit-msg]
        pass_filenames: false

# 全域設定
default_stages: [commit]
fail_fast: false

# CI 設定
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

fix(ci): 修復 GitHub Actions artifact 版本相容性
  .github/workflows/pwa-deploy.yml
  .github/workflows/quality-check.yml
Due: none

fix(ci): 修復所有 GitHub Actions YAML 縮排問題
  .github/workflows/pwa-deploy.yml
  .github/workflows/quality-check.yml
Due: none

🔧 調整 ESLint 警告限制以達成 CI 通過
  package.json
Due: prettier

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  3b90fab08591f54a2c7351ac7f038bb37e113602
Due: none

🔧 完成最佳實踐修復和 CI 優化
  .github/workflows/pwa-deploy.yml
Due: none

chore(CI): 完成 CI/CD 設定移除與本地開發優化
  .github/workflows/pwa-deploy.yml
  .github/workflows/quality-check.yml
  .github/workflows/release.yml
  .gitignore
  .gitmessage
  .pre-commit-config.yaml
  dev-dist/registerSW.js
  dev-dist/sw.js
  docs/CI-REMOVAL-COMPLETION-REPORT.md
  index.html
  jest.config.cjs
  lighthouserc.js
  package-lock.json
  package.json
  release.config.cjs
  src/index.html
  src/main.js
  src/styles/main.css
Due: eslint, prettier

chore(ci): 新增 pre-commit hooks 並更新依賴
  package-lock.json
Due: prettier
